In [5]:
import sys
sys.path.insert(1, 'D:/miscellaneous/ai')
from ai_jupyter import *

FileNotFoundError: [Errno 2] No such file or directory: 'model_cost_mapping.json'

In [1]:
from ai import gpt3

FileNotFoundError: [Errno 2] No such file or directory: 'model_cost_mapping.json'

In [ ]:
%%ai

In [ ]:
%%gpt 4 tut 

write a function that

In [4]:
# !pip install git+https://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@github.com/rfmanz/ai.git

Collecting git+https://github.com/rfmanz/ai.git
  Cloning https://github.com/rfmanz/ai.git to /tmp/pip-req-build-x29ku73u
  Running command git clone --filter=blob:none --quiet https://github.com/rfmanz/ai.git /tmp/pip-req-build-x29ku73u
Username for 'https://github.com': ^C
ERROR: Operation cancelled by user

In [2]:
# !pip install git+https://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@github.com/rfmanz/pyutils.git -q 

# pip install git+https://github.com/rfmanz/pyutils.git

In [7]:
from pyutils.load import *

In [6]:
from pyutils.load import *
!pip install kaggle -q 
# !chmod 600 /home/r/.kaggle/kaggle.json
import kaggle
kaggle.api.authenticate()
kaggle.api.dataset_download_files('raddar/amex-data-integer-dtypes-parquet-format', path='../input',quiet=False)

'chmod' is not recognized as an internal or external command,
operable program or batch file.

ApiException: (401)
Reason: Unauthorized
HTTP response headers: HTTPHeaderDict({'Content-Length': '0', 'Date': 'Tue, 16 May 2023 01:42:30 GMT', 'Access-Control-Allow-Credentials': 'true', 'Set-Cookie': 'ka_sessionid=97f3eff43907f390786cb901246bac07; max-age=2626560; path=/, GCLB=CNu37urI6MzbpwE; path=/; HttpOnly', 'Turbolinks-Location': 'https://www.kaggle.com/api/v1/datasets/download/raddar/amex-data-integer-dtypes-parquet-format', 'Strict-Transport-Security': 'max-age=63072000; includeSubDomains; preload', 'Content-Security-Policy': "object-src 'none'; script-src 'nonce-MLQkQF13t8MfD2lEkhXA6g==' 'report-sample' 'unsafe-inline' 'unsafe-eval' 'strict-dynamic' https: http:; frame-src 'self' https://www.kaggleusercontent.com https://www.youtube.com/embed/ https://polygraph-cool.github.io https://www.google.com/recaptcha/ https://form.jotform.com https://submit.jotform.us https://submit.jotformpro.com https://submit.jotform.com https://www.docdroid.com https://www.docdroid.net https://kaggle-static.storage.googleapis.com https://kaggle-static-staging.storage.googleapis.com https://kkb-dev.jupyter-proxy.kaggle.net https://kkb-staging.jupyter-proxy.kaggle.net https://kkb-production.jupyter-proxy.kaggle.net https://kkb-dev.firebaseapp.com https://kkb-staging.firebaseapp.com https://kkb-production.firebaseapp.com https://kaggle-metastore-test.firebaseapp.com https://kaggle-metastore.firebaseapp.com https://apis.google.com https://content-sheets.googleapis.com/ https://accounts.google.com/ https://storage.googleapis.com https://docs.google.com https://drive.google.com https://calendar.google.com/; base-uri 'none'; report-uri https://csp.withgoogle.com/csp/kaggle/20201130;", 'X-Content-Type-Options': 'nosniff', 'Referrer-Policy': 'strict-origin-when-cross-origin', 'Via': '1.1 google', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000'})

In [6]:
read_data('../input/amex-data-integer-dtypes-parquet-format.zip')

,column_count,row_count,compressed,uncompressed,file_format,file_name,full_path
train,190,"5,531,451",1384.61 Mb,1562.32 Mb,parquet,train.parquet,../input/amex-data-integer-dtypes-parquet-form...

In [ ]:
import warnings

warnings.simplefilter("ignore")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm


def denoise(df):
    df["D_63"] = (
        df["D_63"]
        .apply(lambda t: {"CR": 0, "XZ": 1, "XM": 2, "CO": 3, "CL": 4, "XL": 5}[t])
        .astype(np.int8)
    )
    df["D_64"] = (
        df["D_64"]
        .apply(lambda t: {np.nan: -1, "O": 0, "-1": 1, "R": 2, "U": 3}[t])
        .astype(np.int8)
    )
    for col in tqdm(df.columns):
        if col not in ["customer_ID", "S_2", "D_63", "D_64"]:
            df[col] = np.floor(df[col] * 100)
    return df


train = pd.read_csv("./input/train_data.csv")
train = denoise(train)
train.to_feather("./input/train.feather")

del train

test = pd.read_csv("./input/test_data.csv")
test = denoise(test)
test.to_feather("./input/test.feather")